body{
    font-family: Poppins;
    background-color: #c3dffa;
}

.mainbody{
    background-image: url('weather-wallpaper4.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.heading{
    color: bisque;
    font-weight: bold;
    text-align: center;
}

.drop-down{
    height: 60px;
    width: 500px;
    margin: auto;
    opacity: 0.3;
    border: 0;
}

#location{
    width: 100%;
    height: 100%;
    font-size: 30px;
    border-radius: 3.5%;
    border: 0;
    text-align: center;
}

#current-loc{
    height: 100%;
    width: 100%;
    border: 0;
}

.display-pannel{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
    visibility: hidden;
}

.left-display{
    width: 45%;
    text-align: right;
}

#output-logo{
    height: 64px;
    width: 64px;
    margin-left: 380px;
    background-repeat: no-repeat;
}

.footer {
    
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #0080ff;
    color: khaki;
    font-size: 20px;
    text-align: center;
}


@media screen and(max-width:500px){

    .mainbody{
        background-image: url('weather-wallpaper4.jfif');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .drop-down{
        height: 60px;
        width: 100%;
        margin-left: 20px;
    }

    #current-loc{
        height: 100%;
        width: 100%;
        border: 0;
        margin-top: 30px;
        margin-left: 30px;
    }
    #location{
        width:100%;
    }
}